<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDh1m3Ecv0NIxyjdl7rqU8WDqd1iG0iwFw</string>
	<key>GCM_SENDER_ID</key>
	<string>23156474245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metageneticsapp</string>
	<key>PROJECT_ID</key>
	<string>flutterdam2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdam2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23156474245:ios:1c1e33f3142ddb33fa84ec</string>
</dict>
</plist>